*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
@font-face { font-family: Lora; src: url('./fonts/Roboto-Regular.ttf'); }

html
{
	font-size:100%;
}

body
{
	-webkit-font-smoothing:antialiased;
	color:#333332;
	font-family:Lora;
	font-size:18px;
	font-weight:400;
	line-height:1.4;
	text-rendering:optimizeLegibility;
}

b
{
	font-family: Roboto; src: url('./fonts/Roboto-Bold.ttf')
}

.skill-set li:hover
{
	background:#3498db;
}

h1
{
	color:rgba(0,0,0,.75);
}


details {
  background: #eee;
  margin-bottom: 2rem;
  padding: .5rem 1rem;
}

summary {
  cursor: pointer;
}

summary > * {
  display: inline;
}

/* надстрочный и подстрочный текст */
/* поддержка только в Firefox ! */
/*
ruby {
  ruby-position: alternate;
}
*/

ruby {
  ruby-position: over;
}



blockquote{
  /*display:block;*/
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  /*margin-left: 10%;*/
  max-width: 600px;
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;


  /*Font*/
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 1.2;
  color: #666;
  text-align: left;

  /*Borders - (Optional)*/
  border-left: 15px solid #c76c0c;
  border-right: 2px solid #c76c0c;

  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

.wrapper
{
	height:100%;
}

.centr
{
	height:100%;
	position:relative;
	margin-left: 1%;
	width:98%;
}

.right
{
	float:right;
	height:100%;
	position:relative;
	width:80.66%;
}


.name-hero
{
	background:rgba(0,0,0,.001);
	bottom:0;
	height:290px;
	left:0;
	margin:auto;
	position:absolute;
	right:0;
	top:0;
	width:85%;
}

.me-img
{
	background:url(images/jesus-child.png) no-repeat center center;
	background-size:100%;
  background-position:0px;
	border-radius:100%;
	height:150px;
	margin:0 auto;
	position:relative;
	width:150px;
}

.name-hero h1
{
	font-family:Open Sans, sans-serif;
	font-size:1.5em;
	text-align:center;
}

.name-hero h1 em
{
	color:rgba(0,0,0,.3);
	font-style:normal;
	font-weight:700;
}

.name-hero p
{
	color:rgba(0,0,0,.5);
	font-size:.75em;
	line-height:1.5;
	margin:0 8px 0 0;
	text-align:center;
}

.name-hero .name-text
{
	margin:0 auto;
	width:85%;
}

.inner
{
	margin:0 auto;

}

.inner h1
{
	font-size:1.75em;
}

.inner p
{
	color:rgba(0,0,0,.5);
}

.inner p em
{
	color:rgba(0,0,0,.75);
	font-style:normal;
}

.inner section
{
	margin:10px auto;
}

ul
{
	margin-top:-10px;
	padding:0;
}

.skill-set li
{
	background:rgba(0,0,0,.50);
	border-radius:5px;
	color:#FFF;

	margin:15px 15px 0 0;
	padding:10px;
}

@media screen and (max-width: 48em) {
	.right,.left
	{
		float:none;
    position:relative !important;
		width:100%;
    min-height:500px;
	}
  .handmade {
  text-align:center !important;
  margin-top:0px !important;
}

@media screen and (max-width: 75em) {
    body
{ font-size:16px;}
}

@media screen and (max-width: 60em) {
    body
{ font-size:14px;}
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.handmade {
  text-align:right;
  margin-top:100px;
}
.handmade em {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.25em;
  margin-left:5px;
}